<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="jackal_race.world" />

  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" /> 
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(find jackal_launch)/worlds/$(arg world_name)" />
  </include>

  <group ns="r1">
    <param name="tf_prefix" value="r1"/>
    <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <include file="$(find jackal_description)/launch/description.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="ns" value="r1" />
    </include>
    <include file="$(find jackal_control)/launch/control.launch" />
    <!-- Spawn Jackal -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    	        args="-urdf -model jackal1 -param robot_description -x 0 -y 0 -z 5.0" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="publish_odom_tf" pkg="multirobot_sensing" type="publish_odom_tf.py">
      <param name="ns" value="r1"/>
    </node>
  </group>

  <group ns="r2">
    <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <include file="$(find jackal_description)/launch/description.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="ns" value="r2" />
    </include>
    <param name="tf_prefix" value="r2"/>
    <include file="$(find jackal_control)/launch/control.launch" />
    <!-- Spawn Jackal -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    	        args="-urdf -model jackal2 -param robot_description -x 3 -y 0 -z 5.0" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="publish_odom_tf" pkg="multirobot_sensing" type="publish_odom_tf.py">
      <param name="ns" value="r2"/>
    </node>
  </group>

  <include file="$(find multirobot_sensing)/launch/multirobot_sensing.launch" />

</launch>
